<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./../public/img/icon96.ico" type="image/ico">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />

  <link rel="stylesheet" href="./../public/css/elements/alert.css" />
  <link rel="stylesheet" href="./../public/css/elements/navigation.css" />
  <link rel="stylesheet" href="./../public/css/event-card.css" />

  <script src="./../src/utils/showAlert.js" defer></script>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin="" defer></script>

  <script src="../src/main.js" defer></script>
  <script src="../src/api/showMap.js" defer></script>
  <title><%=eventsList.name %> | ToGetThere</title>
</head>

<body>
  <div class="wrapper-event">
    <% if (flashMessage) { %>
    <div class="alert alert-success" role="alert">
      <%= flashMessage %>
      <button type="button" class="close-alert" aria-label="Close" onclick="closeAlert(this)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    <%- include ('navigation') %>
    <div class="content">
      <div class="event-info">
        <div class="event-header">
          <div class="event-owner">
            <a class="event-owner-a">
              <img src="../public/img/user-icon.svg" alt="user" class="event-owner_img" width="18px">
              <p class="event-owner_name">
                <%=ownerEv.name + " " +ownerEv.surname %>
              </p>
            </a>
            <div class=" user-info">
              <%if( !isNaN(age) && age> 6 && age < 110 ){%>
              <p class="user-age">
                <%="Вік: "+age+" р." %>
              </p>
              <%}%>
                <%if(ownerEv.addInfo!=""){%>
              <p class=" user-addInfo-p">

                <%=`"`+ownerEv.addInfo+`"` %>

              </p>
              <%}%>
              <div class="user-links">
                <div class="user-link-phone">
                <% if (ownerEv.ShowPhone!=null) { %>
              <img src="../public/img/phone.svg" alt="" width="20px" height="20px">
              <a class="user-phone" href="tel:<%=ownerEv.phone %>" class="number">
                <%=ownerEv.phone %>
              </a>
              <% } %>
            </div>
          </div>
        </div>

      </div>
      <div class="event-name">
        <h1 class="event-name-h1">
          <%=eventsList.name %>
        </h1>
        <hr class="line">
      </div>
    </div>
    <div class="event-about">
      <ul class="event-about-list">
        <li class="event-date">
          <%=eventsList.date.split("-").reverse().join('.'); %>

        </li>
        <li class="event-time">
          <%=eventsList.time %>
        </li>
        <li class="event-place">
          <%= eventsList.city + (eventsList.place ? (", " + eventsList.place) : "") %>
        </li>
        <li class=" event-number_memb">
          <%=eventsList.participants.length + "/" + eventsList.maxParticipants +" учасників"%>
        </li>
        <li class="event-level">
          <%="Рівень: "+levelSp %>
        </li>
        <%if(eventsList.addInfo){%>
        <li class=" event-addInfo">
          <%=eventsList.addInfo %>
        </li>
        <%}%>
      </ul>
    </div>
    <%if(typeof currentUser!=="undefined" ){ %>
        <%if(ownerEv['_id'].toString() !== currentUser['_id'].toString()){%>
        <div class=" button-join">
          <form action="/join-event/<%=eventsList['_id'] %>" method="post">
            <button type="submit" class="event-join">
              Приєднатися
            </button>
          </form>
        </div>
        <%}else{%>
        <div class="button-join">
          <p><b>Ви є власником заходу, ви не можете приєднатися!</b></p>
        </div>
        <%}%>
      <%}else{%>
        <div class=" button-join">
          <form action="/join-event/<%=eventsList['_id'] %>" method="post">
            <button type="submit" class="event-join">
              Приєднатися
            </button>
          </form>
        </div>
        <%}%>

        </div>

        <%if(eventsList.latLng[0]!="" &&eventsList.latLng[1]!="" ){ %>
        <div id="map" data-lat="<%=eventsList.latLng[0]%>" data-long="<%=eventsList.latLng[1]%>">
        </div>
        <%}else{%>
        <img class="no-map" src="./../public/img/no_map.png" alt="no map"></img>
        <%}%>
      </div>
  </div>

</body>

</html>