<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="./../public/img/icon96.ico" type="image/ico">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="./../public/css/events.css" />
  <link rel="stylesheet" href="./../public/css/elements/navigation.css" />
  <link rel="stylesheet" href="./../public/css/elements/wrapper.css" />

  <link rel="stylesheet" href="./../public/css/elements/card.css" />


  <script src="./../src/main.js" defer></script>
  <script src="./../src/api/getCities.js" defer></script>
  <script src="./../src/utils/dynamic_loading.js" defer></script>

  <title>Заходи | ToGetThere</title>
</head>

<body>
  <div class="wrapper">
    <%- include ('navigation') %>

    <div class="header-wrapper ">
      <h1 class="header-h1">СПОРТИВНІ ЗАХОДИ</h1>
    </div>

  </div>

  <div class="content">
    <div class="filter">
      <h2 class="filter-header">Фільтр</h2>
      <div class="filter-body">
        <form method="POST" action="/filter">
          <div class="filter-section">
            <p class="section-name">Місто</p>
            <div class="section-select">
              <input name="city" list="cities" placeholder="Введіть місто" id="filterCity" class="filter-input" value="<%= filters.city %>" style="text-transform:uppercase;" />
              <datalist id="cities" name="cities">
              </datalist>
            </div>
            <hr class="line">
          </div>

          <div class="filter-section">
            <p class="section-name">Вид спорту:</p>
            <select aria-label="type" class="filter-input" name="type" id="filterType">
              <option value="" disabled selected hidden>Виберіть вид спорту</option>
              <%- selectType %>
            </select>
            <hr class="line">
          </div>

          <div class="filter-section">
            <p class="section-name">Рівень:</p>
            <select aria-label="level" class="filter-input" name="level" id="filterLevel">
              <option value="" disabled selected hidden>Виберіть рівень</option>

              <%- selectLevel %>

            </select>
            <hr class="line">
          </div>

          <div class="filter-section">
            <p class="section-name">Дата:</p>
            <input type="date" class="filter-input" name="date" value="<%= filters.date %>" id="filterDate">
            <hr class="line">
          </div>
          <button class="btn-filter" type="submit" name="submit"> Показати</button>
          <div class="cancel-filter">
            <!--a-->
            <img src="./../public\img\cancel.svg" alt="X" class="filterCancelSvg">

            <input type="reset" value="Скасувати фільтр" class="cancel-text">
          </div>
        </form>
      </div>
    </div>


    <div class="events-card">
      <% if (eventsList.length> 0) { %>
      <% eventsList.forEach(item=> {%>
      <div class="card lazy-card">
        <div class="top-card-event">
          <div class="city-event">
            <img src="./../public/img/map.svg" alt="city" class="city-event-img" width="13" height="13">
            <p class="city-event-name">
              <%=item.city%>
            </p>
          </div>
        </div>
        <p class="type-event-name">
          <%=item.name%>
        </p>
        <% if (item.place) { %>
        <p class="place-event-name">
          <%= item.place %>
        </p>
        <% } %>
        <div class="date-time">
          <div class="date-event">
            <img src="./../public/img/day.svg" alt="" class="date-event-img" width="13" height="13">
            <p class="date-event-name">
              <%=item.date.split("-").reverse().join('.')%>
            </p>
          </div>
          <div class="time-event">
            <img src="./../public/img/time.svg" alt="" class="time-event-img" width="13" height="13">
            <p class="time-event-name">
              <%=item.time%>
            </p>
          </div>
        </div>
        <div class="button-event">
          <a href="/event-card/<%=item['_id']%>" class="button-more">Детальніше</a>
        </div>
      </div>
      <% }) %>
      <% } else { %>
      <h3 class="filter-header">Події відсутні</h3>
      <% } %>

    </div>
    <div id="load-more-trigger" style="
    align-self: flex-end;"></div>

  </div>
</body>

</html>